# Environment
.env
*.env

# IDE
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Maven
target/
*.jar

# Test temp files
test-files/temp/
test-files/backup/
test-files/*.*
tb-automation/src/main/resources/locators.yaml
tb-automation/src/main/resources/application.properties
tb-automation/src/main/resources/config.yaml
test-files/*
!test-files/.gitkeep